body {
  
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

#title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    
}

div.redTable {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .divTable.redTable .divTableCell, .divTable.redTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  .divTable.redTable .divTableBody .divTableCell {
    font-size: 20px;
  }
  .divTable.redTable .divTableRow:nth-child(even) {
    background: #F5C8BF;
  }
  .divTable.redTable .divTableHeading {
    background: #A40808;
  }
  .divTable.redTable .divTableHeading .divTableHead {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
  }
  .divTable.redTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  button {
      margin-top: 20px;
      width: 100%;
      color: rgb(255, 255, 255); font-size: 20px; line-height: 30px; padding: 13px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }
  


  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableBody { display: table-row-group;}